# Python
__pycache__/
*.pyc
.venv/
env/

# VS Code
.vscode/

# Logs
*.log

# Environment

.env
.env.*
!.env.example
secrets/
*.json

# Flutter
mobile/build/
mobile/.dart_tool/

# macOS
.DS_Store

# Windows
Thumbs.db
